<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Flight</title>
</head>
<body>
  <form action="/flights" method="POST">
    <label>Airline:
      <input type="text" name="airline">
    </label><br>
    <label>Airport:
      <input type="text" name="airport">
    </label><br>
    <label>Flight Number
      <input type="number" name="flightNo">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
</body>
</html>

<!-- FIX HOW THIS VIEW LOOKS -->